@if(loginService.user()){
  <mat-toolbar>
    <!-- Left-aligned items -->
    <div class="toolbar-left">
      <button mat-icon-button (click)="navigateHome()">
        <mat-icon>home</mat-icon>
      </button>
      <p>Welcome {{loginService.user()?.firstName}} {{loginService.user()?.lastName}}</p>
    </div>

    <!-- Centered button -->
    <div class="toolbar-center">
      <button mat-flat-button class="light" (click)="navigateToLight()">Light Check</button>
    </div>

    <!-- Right-aligned items -->
    <div class="toolbar-right">
      <button mat-flat-button class="logout" (click)="logout()">Logout</button>
    </div>
  </mat-toolbar>
}
<router-outlet></router-outlet>



